$backgroundColor: #f8f8f9;
$borderColor: #e6e6e6;
$baseItemHeight: 33px;

$disabledColor: #f3f3f3;
$normalColor: #ccc;
$hoverColor: #999;
$selectedColor: #2196f3;

.cart {
  display: flex;
  flex-flow: column;

  &__header {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;

    &--empty {}
  }

  &-item:first-of-type {
    border-top: 1px solid $borderColor;
  }

  &-item:hover {
    filter: brightness(0.97);
    transition: all 0.2s ease-in;
  }

  &-item {
    height: $baseItemHeight;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid $borderColor;

    background-color: $backgroundColor;
    transition: all 0.4s ease-out;

    &--nameArea {
      min-width: 250px;
      width: 45%;
    }

    &--name {
      font-weight: bold;
    }

    &--amount {
      display: flex;
      flex-flow: row;
      min-width: 100px;
      width: 15%;

      &__input {
        font-size: 17px;
        /* height: 28px; */
        width: 53px;
        padding: 5px;
        text-align: center;
      }

      &__button {
        background-color: $normalColor;
        border: 1px solid gray;
        border-radius: 2px;
        /* height: 21px; */
      }

      &__button:hover {
        background-color: $hoverColor;
      }
    }

    &--price {
      &__piece {
        min-width: 100px;
        width: 15%;
      }

      &__sum {
        font-weight: bold;
        min-width: 130px;
        width: 20%;
        text-align: right;
      }
    }

    &--del {
      min-width: 50px;
      text-align: center;
      width: 5%;

      &__button {
        font-size: 15px;
        font-weight: bold;
        color: #b71111;
      }
    }

    &-sale {
      justify-content: space-between;

      &--name {
        flex-grow: 2;
      }
    }

    .recomendAdd {
      color: $selectedColor;
      padding-left: 15px;
      margin-top: 10px;
    }

    .addAditionalService {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: $selectedColor;
      }
    }

    .additonalService {
      padding-left: 27px;

      &--added {
        color: gray
      }

      &--toAdd {}
    }
  }

  &-extraItem {
    &--visible {
      height: $baseItemHeight;
      transition: height 0.4s ease-out;
      visibility: visible;
    }

    &--name,
    &--price {
      color: gray;
    }

    &--name {
      width: 80%;
    }

    &--price {
      width: 20%;
      text-align: right;
    }

    &--hidden {
      height: 0px;
      transition: all 0.4s ease-in;
      padding-top: 0px;
      padding-bottom: 0px;
      visibility: hidden;
      border: 0px;

      & * {
        color: $backgroundColor;
        transition: all 0.4s ease-in;
      }
    }
  }

  &-sum {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 15px;
    background-color: #cecdc5;

    &--sumWord {
      width: 40%;
      font-weight: bold;
    }
  }

  &-voucher {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;

    &-label {
      margin-right: 15px;
    }

    &-input-wrap {
      flex-grow: 2;
    }

    &-input {
      margin-right: 15px;
      font-size: 16px;
      text-transform: uppercase;
      padding: 5px 10px;
      width: 11em;
    }

    &-response {
      padding: 15px;
    }

    &-submit {
      font-size: 17px;
      padding: 5px 15px;
      cursor: pointer;
    }
  }
}

.cart-item.cart-item--noHeight {
  height: auto;
}

.deliveryAndPay {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.deliveryChoice,
.paymentChoice {
  padding: 15px;
  width: 50%;
  box-sizing: border-box;
}

.vertical {
  display: flex;
  flex-flow: column;
}

.hidden {
  display: none;
}

.elemsToRow {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.formBlock {
  min-width: 300px;
}

.stdPadding {
  padding: 15px;
}

.formSubmit {
  font-size: 19px;
  padding: 5px 35px;
  border: none;
  cursor: pointer;
  min-width: 180px;

  &--ready {
    background-color: rgb(108, 205, 108);
  }

  &--notReady {
    background-color: rgb(112, 160, 242);
  }

  &--submitting {
    background-color: gray;
  }

  &__fieldsLeft {
    margin-bottom: 5px;
    color: gray;
  }
}

.inputLine {
  padding: 3px;
  width: 100%;
  max-width: 300px;
  margin: 4px 0px;
}

.labelToInput {
  display: block;
  width: 100%;
  text-align: left;
  margin-right: 10px;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 3px;
}

.input {
  border: 1px solid #bbbbbb;
  transition: all 0.2s ease-in;
  padding: 8px 10px;
  border-radius: 2px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: 0px;
    box-shadow: 0 1px 1px rgba(20, 93, 226, 0.075),
      0 0 4px rgba(17, 107, 199, 0.6);
    border: 1px solid rgba(82, 144, 236, 0.85);
  }

  &--error {
    outline: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(236, 82, 82, 0.6) !important;
    border: 1px solid rgba(236, 82, 82, 0.7) !important;
    transition: all 0.2s ease-in;
  }
}

.validation {
  &--error {
    background-color: rgba(236, 82, 82, 1);
    padding: 3px 8px;
    font-size: 14px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    height: 25px;
    transition: height 0.3s ease-out;
  }

  &--empty {
    height: 0px;
    background-color: rgba(236, 82, 82, 1);
    transition: height 0.3s ease-in;
  }
}

.disabledBlock {
  pointer-events: none;
  position: relative;

  &:after {
    content: ' ';
    z-index: 2;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(248, 248, 248, 0.76);
  }

  &__message {
    z-index: 3;
    color: black;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 25%;
  }
}

/* ----  inputs styling -----*/

/* inputs container */
.inputCont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  min-width: 250px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &--disabled {
    color: gray;
  }
}

/* Hide the browser's default checkbox */
.inputCont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $normalColor;
  transition: background-color 0.2s ease-out;
  //add border
  border: 2px solid gray;
  width: 16px;
  height: 16px;
}

/* On mouse-over, add a grey background color */
.inputCont:hover input~.checkmark {
  background-color: $hoverColor;
}

/* When the checkbox is checked, add a blue background */
.inputCont input:checked~.checkmark {
  background-color: $selectedColor;
  transition: background-color 0.3s ease-in;

  height: 20px;
  width: 20px;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.inputCont input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.inputCont .checkmark:after {
  left: 33%;
  top: 17%;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $normalColor;
  border-radius: 50%;
  transition: all 0.2s ease-out;

  &--disabled {
    background-color: $disabledColor;
  }
}

.inputCont--disabled .radiobtn {
  background-color: $disabledColor;
}

/* On mouse-over, add a grey background color */
.inputCont:hover input~.radiobtn {
  background-color: $hoverColor;
}

.inputCont:hover input~.radiobtn--disabled,
.inputCont--disabled:hover input~.radiobtn {
  background-color: $disabledColor;
}

/* When the radio button is checked, add a blue background */
.inputCont input:checked~.radiobtn {
  background-color: $selectedColor;
  transition: all 0.3s ease-in;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.inputCont input:checked~.radiobtn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.inputCont .radiobtn:after {
  left: 30%;
  top: 30%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

fieldset {
  border: 1px solid rgb(223, 223, 223);
  width: 340px;
  margin: 0px 0px 0px 5px;
}

.loginOpts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &Cont {
    padding: 15px;

    border-bottom: 1px solid #e6e6e6;
    background-color: #f8f8f9;
    transition: all 0.3s ease-in;
  }
}

/* -- end inputs styling ----*/
@media only screen and (max-width: 768px) {
  $lineHeight: 34px;

  .cart-item {
    flex-wrap: wrap;
    min-height: 60px;
    height: auto;
    justify-content: space-between;

    &--name {
      width: 100%;
    }

    &--amount {
      height: $lineHeight;
      min-width: 170px;
      width: 35%;

      &__button {
        width: 45px;
      }
    }

    &--price {
      &__piece {
        width: 25%;
      }

      &__sum {
        width: 30%;
      }
    }

    &--del {
      height: $lineHeight;
      width: 10%;
    }
  }

  .cart-extraItem--hidden {
    height: 0px;
    min-height: 0px;
    transition: all 0.3s ease-in;
  }

  .deliveryChoice,
  .paymentChoice {
    width: 100%;
  }

  .horizontal-sm {
    flex-flow: row;
  }
}